
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore IntelliJ specific cache directory
.idea

#Ignore for VSCode
.settings
.classpath
.project
.vscode

bin
/out

# Env
.env

# Logging
*.log